<!-- ═══════════════════ HEADER ═══════════════════ -->
<div class="sinopia-header">
  <div class="logo">
    <i class="bi bi-gear-wide-connected me-2"></i>
    <span class="bc-blue">Blue Core</span>
    <span> | SINOPIA - {% if environment %}{{ environment }}{% else %}LOCAL Development{% endif %}</span>
  </div>
  <div class="user-nav small">
    <span>jpnelson</span>
    <span class="mx-2">•</span>
    <a href="#">Help</a>
    <span class="mx-2">•</span>
    <a href="#">Logout</a>
  </div>
</div>
