{% extends 'base.html' %}

{% block title %}Sinopia Editor - Blue Core{% endblock %}

{% block head_meta %}
  <meta id="resource-id-meta" name="resource-id" content="{{ resource_id }}">
  <meta id="bluecore-url-meta" name="bluecore-url" content="{{ bluecore_url }}">
{% endblock %}

{% block content %}
{% include '_editor.html' %}
{% endblock %}

{% block scripts %}
<!-- ═══════════════════ PYSCRIPT ═══════════════════ -->
<script type="py" config="./conf.json" src="./src/main.py"></script>
{% endblock %}
